/* koszyk.css */

/* Resetowanie domyślnych stylów */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Globalne style */
body {
  font-family: Arial, sans-serif;
  background-color: #2a2251;
  color: #fff;
  line-height: 1.5;
}

header {
  background-color: #6c63ff;
  padding: 20px;
  color: #fff;
}

header h1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  background-color: #6c63ff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section#main-content {
  padding: 20px;
}

footer {
  background-color: #6c63ff;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

/* Dodatkowe style dla strony "Koszyk" w stylu Miami Vice */
section#cart {
  background-color: #f600ff;
  color: #fff;
  padding: 20px;
}

section#cart h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

section#cartTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

section#cartTable th,
section#cartTable td {
  padding: 10px;
  border: 1px solid #fff;
}

section#cartTable th {
  background-color: #6c63ff;
  color: #fff;
  text-align: left;
}

section#cartTable td {
  background-color: #f600ff;
}

/* Styl dla odnośnika do strony głównej */
a#homepageLink {
  color: #6c63ff;
  text-decoration: none;
}

a#homepageLink:hover {
  text-decoration: underline;
}

/* Styl dla tabeli */
#cartTable {
  margin: 0 auto; /* Centrowanie tabeli */
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  border-collapse: collapse;
}

#cartTable th,
#cartTable td {
  border: 1px solid #f600ff;
  padding: 8px;
  text-align: center;
}

#cartTable th {
  background-color: #f600ff;
  color: #333;
}

#cartTable td:last-child {
  text-align: right;
}

/* Styl dla przycisków */
button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Styl dla rozwijanej listy */
.quantity {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #f600ff;
  font-size: 14px;
}

